<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>
    <link rel="stylesheet" href="styles.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Chatrooms</title>
    <script>
        $(document).ready(function(){

            var name = prompt('Your name:');
            var socket = io.connect();
            
            socket.emit("got_a_new_user", {name: name});
            
            socket.on('new_user', addUser);

            socket.on('all_users', function(users){
                for(const user of users){
                    addUser(user);
                }
            });

            function addUser(user){
                $('#users').append(`<div class="col-sm-4" id="${ user.id }"><p>${ user.name }</p></div>`);
            }

            socket.on('disconnect_user', function(){

            });

            $('button').click(function(e){
                e.preventDefault();
                console.log('capture button click')
                var msg = $('#message').val();
                console.log(msg);
                socket.emit('new_message', {msg: msg});
                $('#message').val('');
            });

            socket.on('write_new_message', writeMessage);

            socket.on('all_messages', function(messages){
                for(const message of messages){
                    writeMessage(message);
                };
            });

            function writeMessage(message){
                $('#chat_area').append(`<p> ${message.user.name}: ${message.content} </p>`);
            };

            socket.on('remove_user', function(user){
                $(`#${user.id}`).remove();
            });

        });
    </script>
</head>
<body>
    <center>
    <div id="container">
        <div class="row">
            <div class="col-sm-2">
                <p>USERS</p>
                <div id="users">
                
                </div>
            </div>
            <div class="col-sm-10">
                <p>CONVERSATION BOARD</p>
                <div id="chat_area"></div>
                <div id="chat_submit">
                    <p><input type="text" id="message" style="width: 100%;"></p>
                    <button class="btn btn-primary">Send</button>
                </div>
            </div>
        </div>
    </div>
    </center>
</body>
</html>