<h1>GitHub Score</h1>
<form (submit)="userForm.valid && onSubmit($event, userForm)" #userForm='ngForm'>
  <div>
    <label>Github Username: </label>
    <input type='text' name='username'
    required
    [(ngModel)]='user.username'
    #username='ngModel'>
    <div class="red" *ngIf='(username.touched) && username.errors'>
      <div class="red" *ngIf='username.errors.required'>
        Username is required.
      </div>
    </div>
  </div>
    <button class="btn btn-primary" [disabled]='!userForm.valid'>Calculate my Github Score</button>
</form>
